@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
@import './styling/tokens.scss';

.app-container {
  font-family: 'Open Sans', sans-serif;

  .main-container {
    max-width: 1100px;
    padding: 5px;
    margin: 30px auto;
  }

  footer {
    background: $black;
    padding: 20px;
    text-align: center;
  }
}
